*.pyc
*~
*.tgz
/mole/_logs/
/devel/
.idea/
.vscode
/mole/static_autocollected
/mole/media
/mole/data_collection/migrations
/mole/automation/migrations
/postgres/
/docs/built/
/compose_init_db.yml
/db_backup/backups
/maps/maptiles/
portainer/
report/exported_figures/
report/log/
utilities/config/modified_example_config.json
utilities/config/event_gen_logs
mole/static/app/angular
node_modules
/mole/openapi_schema.yml
/mole/mole_models_graph.png
