:host ::ng-deep .override-class .button-container {
    display: inline-block;
    position: relative;
    background: #303336;
    border: 1px solid #444;
    color: #edffff;
    fill: #edffff;
    border-radius: 14%;
    padding: 0;    
    margin: 2px 3px;
    cursor: pointer;
    width: 32px;
    height: 32px;
}