<mat-slide-toggle  
    *ngIf="enableSwitcher"
    [(ngModel)]="useCesium"
    class="toggle-cesium"
    color="warn"
    labelPosition="before">
</mat-slide-toggle>

<div class="mole-maps" fxLayout="column" fxLayoutGap="10px" fxFlexFill>
    <mole-map-instance 
      fxFlex="1 1 calc(1/1 - 10px)"
      [styles]="maps"
      [default]="defaultMap"
      [filter]="filterMarkers"
      [focus]="mapFocus"
      name="Map1"
      [markers]="markers"
      [sources]="sourceImages"
      [entities]="entities"
      [agents]="agentMarkers"
      [markerFocus]="focusedEventId"
      [eventMarker]="eventMarker"
      [createPose]="createPose"
      [showTitle]="showTitle"
      [allowMarkerMovement]="allowPoseUpdates"
      (outMarkerClick)="mapFocusEvent($event)"      
      (outCreateMarker)="mapCreateEvent($event)" 
      (outFocusChange)="mapFocusChange($event)"
      *ngIf="maps && !useCesium"
      >
    </mole-map-instance>   
    <mole-cesium-instance  *ngIf="useCesium" fxFlex="100%"
    [styles]="maps"
    [entities]="entities"
    [markers]="markers" 
    [trial]="trial"
    [agents]="agents"              
    (outMarkerClick)="mapFocusEvent($event)" 
    (outCreateMarker)="mapCreateEvent($event)" ></mole-cesium-instance>
</div>
