.event-api-button {
    position: relative;
    top: 0;
    right: 0;
}

.meta-field {
    width: 35%;
}

mat-card {
    margin: 10px;
    padding: 15px;
    position: relative;
    padding: 2rem;
}

mat-tab {
    padding-top: 2em;
}

.mat-column-edit, .mat-column-actions {
    width:1%;
    padding:0px;
}

// :host ::ng-deep .mat-form-field {
//     width:100%;
//     .mat-form-field-wrapper {
//         padding-bottom: 0;
//     }
//     .mat-form-field-underline {
//         bottom: 0;
//     }
// }