.event-api-button {
    position: relative;
    top: 0;
    right: 0;
}

mat-card {
    margin: 10px;
    padding: 15px;
    position: relative;
    padding: 2rem;
}

mat-tab {
    padding-top: 2em;
}

.mat-column-edit,
.mat-column-actions {
    width: 1%;
    padding: 0px;
}

.my-list {
    padding: 5px;
}

.flex-parent {
    display: flex;
    justify-content: flex-start;
    margin: 16px 5px;
}

.flex-item {
    width: fit-content;
    margin: 5px;
    padding: 5px;
}