<div mat-dialog-content>
  <mat-card id="mat-card-mole-timeline" class="card-light">
    <h2>Select the elements in the event you would like to edit:</h2>
    <mole-timeline-card [event]="event" [inEdit]="true" [mapOption]="true" [apiOption]="true" [allowPoseUpdates]="true"
      (eventType)="displayMetadataKeys($event)">
    </mole-timeline-card>
    <mat-tab-group>
      <mat-tab label="Dropdown" class="my-selects">
        <br>
        <mat-list class="my-list" role="list">
          <mat-list-item class="flex-parent" role="listitem"
            *ngFor="let item of metadataKeysToValuesMap | keyvalue; index as index">
            <div class="flex-item">
              <mat-icon [title]=metadataKeysDescription.get(item.key)>info</mat-icon>
              {{item.key}}
            </div>
            <mat-form-field appearance="fill" class="flex-item">
              <mat-label>Select an option</mat-label>
              <mat-select [(value)]="selectedValues[index]">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let single_value of item.value" [value]="single_value"
                  [title]="metadataValuesDescription.get(single_value)">
                  {{single_value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-list-item>
        </mat-list>
      </mat-tab>
      <mat-tab label="Metadata">
        <br>
        <article class="table-header">
          <button class="button-add-row" mat-button (click)="addRow('','',true)">Add Row</button>
        </article>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
          <!-- edit Column -->
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">
              <div>
                <div *ngIf="element.isEditable; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                  <button mat-icon-button (click)="element.isEditable = !element.isEditable">
                    <mat-icon>done</mat-icon>
                  </button>
                </ng-template>
                <ng-template #elseBlock>
                  <button mat-icon-button (click)="element.isEditable = !element.isEditable">
                    <mat-icon>edit</mat-icon>
                  </button>
                </ng-template>
              </div>
            </td>
          </ng-container>

          <!-- Key Column -->
          <ng-container matColumnDef="key">
            <th mat-header-cell *matHeaderCellDef> Key </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.isEditable; then thenBlock else elseBlock"></div>
              <ng-template #thenBlock>
                <mat-form-field appearance="fill">
                  <mat-label>Key</mat-label>
                  <input matInput [(ngModel)]="element.key">
                </mat-form-field>
              </ng-template>
              <ng-template #elseBlock> {{element.key}} </ng-template>
            </td>
          </ng-container>

          <!-- Value Column -->
          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> Value </th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.isEditable; then thenBlock else elseBlock"></div>
              <ng-template #thenBlock>
                <mat-form-field appearance="fill">
                  <mat-label>Value</mat-label>
                  <input matInput [(ngModel)]="element.value">
                </mat-form-field>
              </ng-template>
              <ng-template #elseBlock> {{element.value}} </ng-template>
            </td>
          </ng-container>

          <!-- actionables Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="deleteRow(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-tab>
      <mat-tab label="Notes">
        <br>
        <mole-notes-dialog (newNoteEvent)="addNote($event)" (updateNoteEvent)="updateNote($event)"
          (deleteNoteEvent)="deleteNote($event)" [title]="false">
        </mole-notes-dialog>
      </mat-tab>
      <mat-tab label="Photos">
        <br>
        <mole-image-dialog (newImagesEvent)="addNewImages($event)" [title]="false">
        </mole-image-dialog>
      </mat-tab>
    </mat-tab-group>
    <br>
    <div mat-dialog-actions>
      <button mat-flat-button id="button1-dialog-action" (click)="onNoClick()" color="accent">Cancel</button>
      <button mat-flat-button id="button2-dialog-action" [disabled]="!event.eventType" (click)="onSubmit(event)"
        color="primary">Ok</button>
    </div>
  </mat-card>
</div>